* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main {
    position: sticky;
    top: 0px;
    left: 0px;
    /* height: 100vh; */
    background: transparent;
}

#head {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 1167px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

#check {
    display: none;
}

#head label {
    text-decoration: none;
    font: 24px Karma, sans-serif;
    color: #000000;
    line-height: 36px;
    padding: 16px 0;
}

header {
    display: none;
    border: #000000 2px solid;
    /* height: 100%; */
    /* width: 30%; */
}

header label {
    font: 24px Karma, sans-serif;
    color: #000000;
    background: #fff;
    padding: 20px;
    font-weight: 400;
}

header a {
    font: 24px Karma, sans-serif;
    color: #000000;
    background: #fff;
    font-weight: 400;
    padding: 20px;
    text-decoration: none;
}

#check:checked~header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 400px;
    position: absolute;
    background-color: white;
    top: 00px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

nav a {
    text-decoration: none;
    font: 24px Karma, sans-serif;
    color: #000000;
    line-height: 36px;
    padding: 16px 0;
}

#sec1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1167px;
    margin: 50px auto;
}

.set1 {
    display: flex;
    text-align: center;
    justify-content: center
}

.img {
    width: 24%;
    padding: 10px;
}

.img img {
    width: 100%;
}

.img h1 {
    font: 24px Karma, sans-serif;
    margin: 10px 0;
    font-weight: 400;
    line-height: 36px;
}

.img h2 {
    font: 15px Karma, sans-serif;
    margin: 15px 0;
    font-weight: 400;
    line-height: 22.5px;
}

.set2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

.btn button {
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #fff;
    margin: 10px 0;
    font: 15px Karma, sans-serif;
}

.btn button:hover {
    color: #fff;
    background-color: #000000;
}

.btn button a {
    text-decoration: none;
    font: 15px Karma, sans-serif;
    padding: 8px 16px;
}

.btn button a:hover {
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    background-color: #000000;
}

.btn .b1 {
    background-color: #000000;
}

.btn .b1 a {
    color: #fff;
    background-color: #000000;
}

hr {
    opacity: 0.2;
}

#sec2 {
    display: flex;
    flex-direction: column;
    width: 1167px;
    align-items: center;
    margin: auto;
    justify-content: center;
    text-align: center;
}

#sec2 h1 {
    font: 24px Karma, sans-serif;
    margin: 10px 0;
    font-weight: 400;
}

#sec2 img {
    width: 70%;
    margin-top: 60px;
}

.iam {
    font: 20px Karma, sans-serif;
    margin: 10px 0;
    font-weight: bolder;
}

#sec2 h2 {
    font: 16px Karma, sans-serif;
    margin: 10px 0;
    font-style: italic;
}

#sec2 p {
    font: 15px Karma, sans-serif;
    margin: 10px 0;
    line-height: 22.5px;
}

#sec3 {
    padding: 50px 100px 100px 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

footer {
    width: 33%;
    display: flex;
    flex-direction: column;
}

footer h1 {
    font: 24px Karma, sans-serif;
    margin: 10px 0;
    font-weight: 400;
    text-align: left;
}

footer p {
    font: 15px Karma, sans-serif;
    margin: 15px 0;
    text-align: left;
    width: 90%;
    line-height: 22.5px;
}

.p {
    text-align: left;
    font: 15px Karma, sans-serif;

}

.blog {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.blog h1 {
    font: 24px Karma, sans-serif;
    margin: 10px 0;
    font-weight: 400;
    text-align: left;
}

.l1 {
    text-align: left;
    display: flex;
    height: 52px;
    justify-content: baseline;
    margin: 10px 0;
}

.l1 img {
    height: 100%;
}

.s {
    height: 50px;
    display: flex;
    flex-direction: column;
}

.s h1 {
    font: 18px Karma, sans-serif;
    margin: 0 10px;
}

.s h2 {
    font: 15px Karma, sans-serif;
    margin: 8px 10px;
}

.popular {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.popular h1 {
    font: 24px Karma, sans-serif;
    margin: 10px 0;
    font-weight: 400;
    text-align: left;
}

.tag {
    margin: 15px 0 30px 0px;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

.tag1 {
    background-color: #000000;
    color: #fff;
    font: 12px serif;
    margin: 15px 0 0 5px;
    padding: 2px 8px;
}

.tag0 {
    font: 12px serif;
    color: #fff;
    margin: 15px 0 0 5px;
    padding: 2px 8px;
    background-color: #616161;


}



/* --------------------------------------------------------------============== */







@media only screen and (max-width:1200px) and (min-width:600px) {
    #head {
        padding: 0px 20px;
        position: sticky;
        top: 0px;
        left: 0px;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
    }



    nav a {
        text-decoration: none;
        font: 24px Karma, sans-serif;
        color: #000000;
        line-height: 36px;
        padding: 16px 0;
    }

    #sec1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 50px auto;
    }

    .set1 {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .img {
        width: 24%;
    }

    .img img {
        width: 100%;

    }

    .img h1 {
        font: 24px Karma, sans-serif;
        margin: 10px 0;
        font-weight: 400;
        line-height: 36px;
    }

    .img h2 {
        font: 15px Karma, sans-serif;
        margin: 15px 0;
        font-weight: 400;
        line-height: 22.5px;
    }

    .set2 {
        display: flex;
        text-align: center;
    }

    .btn {
        display: flex;
        justify-content: center;
        padding: 32px 0;
    }

    .btn button {
        border: none;
        box-sizing: border-box;
        text-decoration: none;
        background-color: #fff;
        font: 15px Karma, sans-serif;
    }

    .btn button:hover {
        color: #fff;
        background-color: #000000;
    }

    .btn button a {
        text-decoration: none;
        padding: 8px 16px;
    }

    .btn button a:hover {
        text-decoration: none;
        color: #fff;
        text-decoration: none;
        background-color: #000000;
    }

    .btn .b1 {
        background-color: #000000;
    }

    .btn .b1 a {
        color: #fff;
        background-color: #000000;
    }

    hr {
        opacity: 0.2;
    }

    #sec2 {
        padding: 50px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        justify-content: center;
        text-align: center;
    }

    #sec2 h1 {
        font: 24px Karma, sans-serif;
        margin: 10px 0;
        font-weight: 400;
    }

    #sec2 img {
        width: 800px;
    }

    .iam {
        font: 20px Karma, sans-serif;
        margin: 10px 0;
        font-weight: bolder;
    }

    #sec2 h2 {
        font: 16px Karma, sans-serif;
        margin: 10px 0;
        font-style: italic;
    }

    #sec2 p {
        font: 15px Karma, sans-serif;
        margin: 10px 0;
        line-height: 22.5px;
    }

    #sec3 {
        padding: 50px 20px 100px 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    footer {
        width: 33%;
        display: flex;
        flex-direction: column;
    }

    footer h1 {
        font: 24px Karma, sans-serif;
        margin: 10px 0;
        font-weight: 400;
        text-align: left;
    }

    footer p {
        font: 15px Karma, sans-serif;
        margin: 15px 0;
        text-align: left;
        width: 90%;
        line-height: 22.5px;
    }

    .p {
        text-align: left;
        font: 15px Karma, sans-serif;

    }

    .blog {
        width: 33%;
        display: flex;
        flex-direction: column;
    }

    .blog h1 {
        font: 24px Karma, sans-serif;
        margin: 10px 0;
        font-weight: 400;
        text-align: left;
    }

    .l1 {
        text-align: left;
        display: flex;
        height: 52px;
        justify-content: baseline;
        margin: 10px 0;
    }

    .l1 img {
        height: 100%;
    }

    .s {
        height: 50px;
        display: flex;
        flex-direction: column;
    }

    .s h1 {
        font: 18px Karma, sans-serif;
        margin: 0 10px;
    }

    .s h2 {
        font: 15px Karma, sans-serif;
        margin: 8px 10px;
    }

    .popular {
        width: 33%;
        display: flex;
        flex-direction: column;
    }

    .popular h1 {
        font: 24px Karma, sans-serif;
        margin: 10px 0;
        font-weight: 400;
        text-align: left;
    }

    .tag {
        margin: 15px 0 30px 0px;
        display: flex;
        text-align: left;
        flex-wrap: wrap;
    }

    .tag1 {
        background-color: #000000;
        color: #fff;
        font: 12px serif;
        margin: 15px 0 0 5px;
        padding: 2px 8px;
    }

    .tag0 {
        font: 12px serif;
        color: #fff;
        margin: 15px 0 0 5px;

        padding: 2px 8px;
        background-color: #616161;


    }
}

@media only screen and (max-width:860px) and (min-width:000px) {

    #sec2 img {
        width: 100%;
    }

}







@media only screen and (max-width:600px) and (min-width:00px) {
    #head {
        padding: 0px 20px;
        position: sticky;
        top: 0px;
        left: 0px;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
    }



    nav a {
        text-decoration: none;
        font: 24px Karma, sans-serif;
        color: #000000;
        line-height: 36px;
        padding: 16px 0;
    }

    #sec1 {
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 50px auto;
    }

    .set1 {
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .img {
        width: 100%;
    }

    .img img {
        width: 100%;

    }

    .img h1 {
        font: 24px Karma, sans-serif;
        margin: 10px 0;
        font-weight: 400;
        line-height: 36px;
    }

    .img h2 {
        font: 15px Karma, sans-serif;
        margin: 15px 0;
        font-weight: 400;
        line-height: 22.5px;
    }

    .set2 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .btn {
        display: flex;
        justify-content: center;
        padding: 32px 0;
    }

    .btn button {
        border: none;
        box-sizing: border-box;
        text-decoration: none;
        background-color: #fff;
        font: 15px Karma, sans-serif;
    }

    .btn button:hover {
        color: #fff;
        background-color: #000000;
    }

    .btn button a {
        text-decoration: none;
        padding: 8px 16px;
    }

    .btn button a:hover {
        text-decoration: none;
        color: #fff;
        text-decoration: none;
        background-color: #000000;
    }

    .btn .b1 {
        background-color: #000000;
    }

    .btn .b1 a {
        color: #fff;
        background-color: #000000;
    }

    hr {
        opacity: 0.2;
    }

    #sec2 {
        padding: 50px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        justify-content: center;
        text-align: center;
    }

    #sec2 h1 {
        font: 24px Karma, sans-serif;
        margin: 10px 0;
        font-weight: 400;
    }

    #sec2 img {
        margin: 25px 168px;
        max-width: 100%;
    }

    .iam {
        font: 20px Karma, sans-serif;
        margin: 10px 0;
        font-weight: bolder;
    }

    #sec2 h2 {
        font: 16px Karma, sans-serif;
        margin: 10px 0;
        font-style: italic;
    }

    #sec2 p {
        font: 15px Karma, sans-serif;
        margin: 10px 0;
        line-height: 22.5px;
    }

    #sec3 {
        padding: 50px 20px 100px 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-direction: column;

    }

    footer {
        width: 100%;
        display: flex;
        margin: 30px 0;
        flex-direction: column;
    }

    footer h1 {
        font: 24px Karma, sans-serif;
        margin: 10px 0;
        font-weight: 400;
        text-align: left;
    }

    footer p {
        font: 15px Karma, sans-serif;
        margin: 15px 0;
        text-align: left;
        width: 90%;
        line-height: 22.5px;
    }

    .p {
        text-align: left;
        font: 15px Karma, sans-serif;

    }

    .blog {
        width: 100%;
        margin: 30px 0;
        display: flex;
        flex-direction: column;
    }

    .blog h1 {
        font: 24px Karma, sans-serif;
        margin: 10px 0;
        font-weight: 400;
        text-align: left;
    }

    .l1 {
        text-align: left;
        display: flex;
        height: 52px;
        justify-content: baseline;
        margin: 10px 0;
    }

    .l1 img {
        height: 100%;
    }

    .s {
        height: 50px;
        display: flex;
        flex-direction: column;
    }

    .s h1 {
        font: 18px Karma, sans-serif;
        margin: 0 10px;
    }

    .s h2 {
        font: 15px Karma, sans-serif;
        margin: 8px 10px;
    }

    .popular {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .popular h1 {
        font: 24px Karma, sans-serif;
        margin: 10px 0;
        font-weight: 400;
        text-align: left;
    }

    .tag {
        margin: 15px 0 30px 0px;
        display: flex;
        text-align: left;
        flex-wrap: wrap;
    }

    .tag1 {
        background-color: #000000;
        color: #fff;
        font: 12px serif;
        margin: 15px 0 0 5px;
        padding: 2px 8px;
    }

    .tag0 {
        font: 12px serif;
        color: #fff;
        margin: 15px 0 0 5px;

        padding: 2px 8px;
        background-color: #616161;


    }
}


@media only screen and (max-width:800px) and (min-width:600px) {

    .set1 {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }

    .img {
        width: 50%;
    }

    .img img {
        width: 100%;

    }

    .set2 {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

}




@media only screen and (max-width:300px) and (min-width:000px) {

    #head a {
        font-size: 16px;
    }
    #head{
        width: 100%;

    }
   

    .img h1 {
        font: 16px Karma, sans-serif;
        margin: 10px 0;
        font-weight: 400;
        line-height: 36px;
    }

    .img h2 {
        font: 12px Karma, sans-serif;
        margin: 15px 0;
        font-weight: 400;
        line-height: 22.5px;
    }

    #sec2 h1 {
        font: 18px Karma, sans-serif;
        margin: 10px 0;
        font-weight: 400;
    }

    .iam {
        font: 15px Karma, sans-serif;
        margin: 10px 0;
        font-weight: bolder;
    }

    #sec2 h2 {
        font: 12px Karma, sans-serif;
        margin: 10px 0;
        font-style: italic;
    }

    #sec2 p {
        font: 11px Karma, sans-serif;
        margin: 10px 0;
        line-height: 22.5px;
    }

    .btn button a {
        text-decoration: none;
        font: 11px Karma, sans-serif;
        padding: 4px 8px;
    }

    .btn {
        display: flex;
        justify-content: center;
    }

    .img {
        width: 100%;
        padding: 0px;
    }

}


@media only screen and (max-width:400px) and (min-width:000px) {

    #check:checked~header {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        position: absolute;
        background-color: white;
        top: 00px;
        border: none;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

}